@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .image-table-set {
    justify-content: end;
  }
  .right-arrow-set {
    left: 50%;
    top: 26%;
  }
  .left-arrow-set {
    right: 20%;
    top: 61%;
  }
  .right-arrow-set-1 {
    left: 50%;
    top: 7%;
  }
  .left-arrow-set-1 {
    right: 22%;
    top: 25%;
  }
  .right-arrow-set-2 {
    left: 50%;
    top: 36%;
  }
  .left-arrow-set-2 {
    right: 22%;
    top: 52%;
  }
  .right-arrow-set-3 {
    left: 50%;
    top: 68%;
  }
  .left-arrow-set-3 {
    right: 22%;
    top: 81%;
  }
  .right-arrow-set-4 {
    left: 50%;
    top: 90%;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .image-table-set {
    justify-content: end;
  }
  .second-container-set {
    margin-top: 3%;
  }
  .right-arrow-set {
    left: 48%;
    top: 28%;
  }
  .left-arrow-set {
    right: 28%;
    top: 61%;
  }
  .right-arrow-set-1 {
    left: 50%;
    top: 6%;
  }
  .left-arrow-set-1 {
    right: 28%;
    top: 23%;
  }
  .right-arrow-set-2 {
    left: 50%;
    top: 34%;
  }
  .left-arrow-set-2 {
    right: 28%;
    top: 50%;
  }
  .right-arrow-set-3 {
    left: 50%;
    top: 66%;
  }
  .left-arrow-set-3 {
    right: 27%;
    top: 78%;
  }
  .right-arrow-set-4 {
    left: 50%;
    top: 89%;
  }
}
@media only screen and (min-width: 2559px) {
  .left-arrow-set {
    right: 40%;
  }
}
